<ion-header>
  <ion-navbar>
    <ion-title>
      {{ playlist?.data?.title }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
          Playlist Information
        </ion-card-header>
      
        <ion-card-content>
          Updated on: {{ playlist?.data?.board_date | date}}
        </ion-card-content>

      </ion-card>
      
      <ion-list *ngFor="let item of playlist?.items">
        <ion-item tappable (click)="itemClicked(item)">
          <ion-thumbnail item-start>
            <img src="{{ item.album_image }}">
          </ion-thumbnail>
          <h2>{{ item.title }}</h2>
          <p>{{ item.artist }}</p>
        </ion-item>
    </ion-list>
</ion-content>
