page-detail {
    #ytFrame {
         

        //set the width to 100% of the viewport width
        width: 100vw; 

        //set the height to 100% of the viewport less the height of the header
        height: auto;

        //remove border, padding, margin
        border: none;
        padding: 0;
        margin: 0;
    }


    ion-scroll {
        height: 100vh;
    }
}
