<!--
  Generated template for the DetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ item?.title }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

    <iframe id="ytFrame" width="560" height="315" [src]='youtubeURL' frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    
    <ion-card>
        <ion-card-content>
          <ion-title>{{ title0 }}</ion-title>	
          <ion-scroll scrollY="true"> 

              <p><span [innerHTML]="item?.lyric"></span></p>
          </ion-scroll> 
        </ion-card-content>
      </ion-card>

    
</ion-content>
